/*$color-menues: rgba(217, 217, 217, 0.716);*/

$color-menues: lightcoral;

$menu-text-shadow: .125rem .125rem .5rem white;

$font-family: 'Inria Serif', serif;

$border-radious-text: 0rem 2.5rem 3.75rem 5rem;
$background-color-text: rgba(255, 255, 255, 0.705);
$background-color-padding: 1.25rem 1.25rem 1.25rem 1.25rem;

$border-color-img: rgb(64, 227, 214);

/*Font Size*/
$font-size-p: 1.5625rem;
$font-size-p1024: 1.25rem;
$font-size-p768: .9375rem;
$font-size-p320: .625rem;